aiohttp-jinja2==1.5
aiohttp-session==2.9.0
aiohttp==3.8.1
aiopg==0.15.0
aioredis==1.2.0
async-timeout==4.0.1      # via aiohttp, aioredis
attrs==21.2.0             # via aiohttp
chardet==4.0.0            # via aiohttp
hiredis==2.0.0            # via aioredis
idna==3.3                 # via yarl
jinja2==3.0.3            # via aiohttp-jinja2
markupsafe==2.0.1         # via jinja2
multidict==5.2.0          # via aiohttp, yarl
psycopg2==2.9.2         # via aiopg
pyyaml==6.0
trafaret-config==2.0.2
trafaret==2.1.0
yarl==1.7.2               # via aiohttp
